section.book-kit{
  margin-top: 25rem;
  margin-bottom: 28rem;

  & .title-book-wrapper{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    & .title-book{
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 0.4rem;

      & svg{
        width: 2rem;
        height: 2rem;
        filter: drop-shadow(0px 0px 20px rgba(149,71,165));
        & path{
          fill: var(--pink-base);
        }
      } 
    }

    & p{
      font: var(--bb-md);
      color: var(--txt-label);
    }
  }

  & .book-kit-imgs{
    width: inherit;
    height: 60rem;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(149,71,165);
    background: radial-gradient(circle, rgba(149, 71, 165, 0.199) 0%, rgba(4,7,15,0) 66%);
    

    & .book-kit-wrapper{
      width: 29.188rem;
      height: 40rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      
       
      & > img{
        position: absolute;
      }

      & > span{
        position: absolute;
        font: var(--bb-md);
        color: var(--txt-label);
      }

      & #book{
        width: 29.188rem;
        height: auto;
        z-index: 10;
        
      }

      & #bookmark-yellow{
        width: 12.75rem;
        height: auto;
        z-index: 9;

        transform: translateX(0) rotate(0) translateY(0);
        transition: transform 500ms ease;
        
      } 

      & #bookmark-purple{
        width: 12.75rem;
        height: auto;
        z-index: 8;

        transform: translateX(0)  translateY(0);
        transition: transform 500ms ease;
      }

      & #pin{
        width: 13.875rem;
        height: auto;
        z-index: 7;

        transform: translateX(0)  translateY(0);
        transition: transform 500ms ease;
      }

      & #arrow-left{
        z-index: 6;

        transform: translateX(0)  translateY(0);
        transition: transform 500ms ease;
      }

      & #arrow-up{
        z-index: 5;

        transform: translateX(0) translateY(0);
        transition: transform 500ms ease;
      }

      & #arrow-down{
        z-index: 4;

        transform: translateX(0) translateY(0);
        transition: transform 500ms ease;
      }

      & #txt-1{
        z-index: 3;
        
        transform: translateX(0) translateY(0);
        transition: transform 500ms ease;
      }

      & #txt-2{
        z-index: 2;
        transform: translateX(0) translateY(0);
        transition: transform 500ms ease;
      }

      & #txt-3{
        z-index: 1;

        transform: translateX(0) translateY(0);
        transition: transform 500ms ease;
      }

    }

    &:hover{
      & #bookmark-yellow{
        transform: translateX(15rem) rotate(10deg) translateY(-8rem); 
      }

      & #bookmark-purple{
        transform: translateX(23.5rem) rotate(20deg) translateY(-1.5rem);
      }

      & #pin{
        transform: translateX(-17rem) translateY(16.7rem);
      }
      
      & #arrow-left{
        transform: translateX(-18rem) translateY(-19.4rem);
      }

      & #arrow-up{
        transform: translateX(-23rem) translateY(7.5rem);
      }

      & #arrow-down{
        transform: translateX(22rem) translateY(19.4rem);
      }

      & #txt-1{
        transform: translateX(-23.5rem) translateY(-21.9rem);
      }

      & #txt-2{
        transform: translateX(-23.5rem) translateY(1.5rem);
      }

      & #txt-3{
        transform: translateX(17.5rem) translateY(25.9rem);
      }
    }

  }

  @media (width <= 27em) {
    margin-top: 11.5rem;
    margin-bottom: 20rem;

    & .title-book-wrapper{
      & h2{
        font: 700 1.5rem var(--ff-base);
      }

      & .title-book {
        & svg{
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      & p{
        font: var(--bb-sm);
      }
      
    }

    & .book-kit-imgs{
      margin-top: 4rem;
      height: 24rem;
    
      & .book-kit-wrapper{
        width: 100%;
        height: 20rem;
  
        & > span{
          font: 0.625rem var(--ff-base);
        }
  
        & #book{
          width: 9.8rem;
          height: auto;
          z-index: 10;
          
        }
  
        & #bookmark-yellow{
          width: 3.6rem;
          height: auto;
          z-index: 9;
  
          transform: translateX(5rem) rotate(10deg) translateY(-3rem);
          
        } 
  
        & #bookmark-purple{
          width: 3.6rem;
          height: auto;
          z-index: 8;
  
          transform: translateX(7.4rem) rotate(25deg) translateY(-0.5rem);
          
        }
  
        & #pin{
          width: 4.6rem;
          height: auto;
          z-index: 7;
  
          transform: translateX(-5.5rem)  translateY(5.5rem);
        }
  
        & #arrow-left{
          width: 3.6rem;
          height: auto;
          z-index: 6;
  
          transform: translateX(-5.9rem)  translateY(-6.5rem);
        }
  
        & #arrow-up{
          width: 2.188rem;
          height: auto;
          z-index: 5;
  
          transform: translateX(-7.4rem) translateY(2.5rem);
          
        }
  
        & #arrow-down{
          width: 3rem;
          height: auto;
          z-index: 4;
  
          transform: translateX(6.6rem) translateY(5.6rem);
         
        }
  
        & #txt-1{

          z-index: 3;
          
          transform: translateX(-7rem) translateY(-7.8rem);
          
        }
  
        & #txt-2{
          z-index: 2;
          transform: translateX(-7.5rem) translateY(0.2rem);
          
        }
  
        & #txt-3{
          z-index: 1;
  
          transform: translateX(5.5rem) translateY(8rem);
          
        }
      }
      
    }
  }
}
