.text{
  height: 10rem;
  margin-top: 5rem;
  position: relative;

  & p{
    font:  1.8rem/200% var(--ff-base);
    color: var(--txt-body);
    text-align: center;

    & span{
      opacity: 0.5; 
    }
  }
  
  & > img[src*="spellbook"]{
    width: 5.5rem;
    height: 5.5rem;
    position: absolute;
    top: -5.9rem;
    right: 34rem;
    rotate: 20deg;
    transition: scale 200ms ease;
    scale: 0;
  }

  & > img[src*="planchette"]{
    width: 5.5rem;
    height: 5.5rem;
    position: absolute;
    rotate: 100deg;
    left: 2rem;
    transition: scale 200ms ease 0ms; 
    scale: 0;
  }

  & > img[src*="ball"]{
    width: 5.5rem;
    height: 5.5rem;
    position: absolute;
    right: 0;
    bottom: -2rem;
    rotate: -20deg;
    transition: scale 200ms ease 0ms;
    scale: 0;
  }

  /*main hover*/
  &:hover{
    /*1° frase*/
    & img[src*="spellbook"]{
      scale: 1;
    }

    & span:nth-child(1){
      animation: appear 200ms ease both;

      & strong{
        color: var(--blue-light);
      }
    }

    /*2° frase*/
    & img[src*="planchette"]{
      scale: 1;
      transition: scale 200ms ease 800ms, rotate 200ms ease;
    }

    & span:nth-child(2){
      animation: appear 200ms 800ms ease both;

      & strong{
        transition: color 200ms ease 800ms;
        color: var(--blue-light);
      }
    }

    /*3° frase*/
    & img[src*="ball"]{
      scale: 1;
      transition: scale 200ms ease 1500ms, rotate 200ms ease;
    }

    & span:nth-child(3){
      animation: appear 200ms 1500ms ease both;

      & strong{
        transition: color 200ms ease 1500ms;
        color: var(--blue-light);
      }
    }
  }

  /*hover imgs*/
  & img[src*="spellbook"]:hover{
    scale: 1.1;
    rotate: 30deg;
    transition: rotate 500ms ease;
  }

  & img[src*="planchette"]:hover{
    scale: 1.1;
    rotate: 120deg;
    transition: rotate 500ms ease;
  }

  &  img[src*="ball"]:hover{
    scale: 1.1;
    rotate: 5deg;
    transition: rotate 500ms ease;
  }

  @media (width <= 27em) {
    width: 100%;
    padding: 1.25rem;
    margin-top: 3.75rem;

    & p{
      font: 1rem/140% var(--ff-base);
      color: var(--txt-body);
    }

    & > img[src*="spellbook"]{
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      scale: 1;
      top: -2rem;
      right: 5rem;
    }
  
    & > img[src*="planchette"]{
      width: 2rem;
      height: 2rem;
      position: absolute;
      rotate: 100deg;
      scale: 1;
      left: 1.5rem;
      bottom: 1.5rem;
      rotate: -20deg;
    }
  
    & > img[src*="ball"]{
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      scale: 1;
      right: 2rem;
      bottom: 0.5rem;
      rotate: 20deg;
    }

   
    & img[src*="mystery"]:hover{
      scale: 1;
      rotate: 20deg;
      transition: none;
    }

  }

}

@keyframes appear {
  to{
    opacity: 1;
  }
}
